/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.select2-container .select2-selection--single {
  box-sizing: border-box;
  height: 40px;
  cursor: pointer;
  display: block;
  user-select: none;
  -webkit-user-select: none;
}